doctype
html
    head
        title= "Game lobby"
        script(src='/socket.io/socket.io.js')
        script(src='/lobby.js')
        link(rel='stylesheet', href='/style.css')
    body
        h1 Lobby
        #message-wrap
        #content
            form#username-form
                input#username(required="required", placeholder="Enter your username", type="text")
                input(type="submit", value="Enter")
                p Username may contain letters, numbers, underscores only and must be 4-12 length
            #lobby-wrap
                #users-list
                #nav
                    p#start-btn
                        button Start game
                    p#leave-btn
                        button Leave